body{
  font-family: 'Montserrat', sans-serif;
  color:#000;
}

button,input,select{
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 ;
  }
}


.navbar{
  padding: 0;
}
a,p,span,i{
  color:#000;
}

a:hover{
  text-decoration: none;
  color:#000;
}

//custom checkbox
.custom_checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  &:hover input ~ .checkmark {
    background-color: #c8c8c8;
  }

  input:checked ~ .checkmark {
    background-color: $main_color;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}


.form-group{
  margin-bottom:5px;
}
.form-control{
  background: #fff;
  border-radius: 0;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 ;
  }
}

.btn{
  color:#fff;

  &-secondary{
    background: #fff;
    color:#000;
    border: 0 none;
    &:active,&:focus,&:hover,&:active{
      background: $main_color !important;
      box-shadow: 0 0 0 !important;
    }
    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active, .show > &.dropdown-toggle{
      background: $main_color !important;
    }
  }
  &-primary{
    text-transform: uppercase;
    background: #c8c8c8;
    border-radius: 0;
    border:0;
    font-weight: 400;
    padding: 10px 35px;
    &:hover,&:active{
      background: $main_color !important; ;
    }
    &:active,&:focus,&:hover,&:active{
      box-shadow: 0 0 0 !important;
    }
  }
  &-default{
    border:2px solid $main_color;
    transition: .4s;
    background-color: transparent;
    border-radius: 0;

    &:hover{
      background-color: $main_color;
      color:#fff;
    }


    &.buttonfx{
      outline: none;
      background: transparent;
      position: relative;
      display: inline-block;
      cursor: pointer;
      overflow: hidden;
      transition: all .5s;
    }

    /* //// Default effect: Slide from Top  //// */

    &.buttonfx:before,
    &.buttonfx:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background: $main_color; /* onhover background color */
      z-index: -1;
      transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
      transition: all .5s;
    }

    &.buttonfx:before{
      background: transparent; /* button default background color */
      z-index: -2;
      transform: translate3D(0,0,0);
    }

    &.buttonfx:hover{
      color: white;
    }

    &.buttonfx:hover:after{
      transform: translate3D(0,0,0);
      transition: all .5s;
    }


    &.angleinleft:after{
      width: 200%;
      transform-origin: 0 bottom;
      transform: translate3D(-50%,0,0) rotate(-50deg);
    }

    &.angleinleft:hover:after{
      transform: rotate(0deg);
      transition: all .5s;
    }


    &.bouncein:hover:before,
    &.bouncein:hover:after{
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
    }

  }
  &-simple{
    color: #000;
    border-radius: 0;
    background: none;
    &:active,&:focus,&:hover,&:active{
      background: $main_color !important;
      box-shadow: 0 0 0 !important;
    }
  }
}

.background{
  &-gray{
    background: #c8c8c8;
  }
}

.text{
  &-white {
    color:#fff;
  }
  &-black{
    color:#000;
  }
}
.main_header{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;

  span{
    font-size: 45px;
    color: gray;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.product_subtitle{
  font-size: $font-size-medium-less;
  font-weight: 500;
  margin-bottom: 25px;

  &.__line{
    display: flex;
    flex-direction: column;

    &::after{
      content: '';
      width: 50px;
      height: 2px;
      background: #fcb226;
    }
  }
}


@media (max-width: 576px) {
  .main_header{
    span{
      display: none;
    }
  }
}


@media (max-width: map-get($grid-breakpoints, md)) {

  .btn{
    font-size: $font-size-small;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .product_subtitle{
    text-align: center;

    &.__line{
      align-items: center;
    }
  }
}
