.header{
  box-shadow: 0 0 8px 4px #0000001f;
  position: relative;
  &_item{
    &-menu{
      a{
        position: relative;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        padding:0 20px;
        height: 85px;
        padding-top: 35px;
        transition: .4s;

        &:after{
          width: 0;
          content:"";
          height: 3px;
          background-color: $main_color;
          position: absolute;
          transition: .4s;
          bottom: 0;
          left:0;
        }
        &:hover{
          background: #f8f8f8;
          &:after{
            width: 100%;
          }
        }
      }
    }
  }
}


@media (max-width: map-get($grid-breakpoints, sm)) {
  .header_item{
    &-menu a{
      height: 40px;
      padding: 0;
    }
    .dd-container{
      padding: 10px 0 20px 0;
    }
    .dd-selected{
      padding: 0;
    }
    .dd-options{
      top: auto;
      left: -15px;
      bottom: 50px;
      background: rgba(0, 0, 0, 0.8);
    }
  }
}