.modal {
  &-content{
    border-radius: 0;
    text-align: center;
  }
  &-footer {
    border: 0;
  }
  &-header {
    border: 0;
  }
  &-dialog {
    max-width: 800px;
    transform: translateY(-50%) !important;
    top: 50%;
    margin: 0 auto;
  }
}

.contacts_block_modal{
  p{
    position: relative;
    z-index: 2;
    font-size: $font-size-extra-big;
    span{
      color:$main_color;
    }
  }
  &-shadow_text{
    z-index: 0;
    top: 5px;
    left: 17%;
    position: absolute;
    font-size: 42px;
    font-weight: bold;
    color: #f8f8f8;
    text-transform: uppercase;
  }
}
