$main_color : #ffc50b;
$background_color: #f8f8f8;

$font-size-extra-big: 24px;
$font-size-big: 21px;
$font-size-medium: 18px;
$font-size-medium-less: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;