.catalog_page{
  background: $background_color;
  padding-bottom: 15px;

  &-content{
    padding: 20px 0;
    &__filter{
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
      background: #fff;
      padding: 30px 15px;
      margin-top:42px;
      align-self: flex-start;
      &-content{
        .btn{
          position: relative;
          left:50%;
          transform: translateX(-50%);
          margin-top:25px;
        }
        &__checkboxes{
          margin-top:20px;
          &:after {
            content: "";
            display: table;
            clear: both;
          }
          label{
            width: 50%;
            float:left;
          }
        }
        &__slider{
          padding:10px 0;
          &-item{
            margin:20px 0;
            &-text{
              display: flex;
              justify-content: space-between;
              align-items: center;

              p{
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
    &__products{

      &-products{
        .col-md-6{
        }
        &[data-view="list"]{
          .col-md-6{
            width: 100% !important;
            max-width: 100%;
            flex:100%;
          }
          .home_catalog-products__item{
            &-content{
              display: flex;
              &__background{
                min-width: 260px;
              }
            }
          }
        }
      }
      &-config_panel{
        button{
          background: transparent;
          cursor: pointer;
          margin-left:15px;
          border: 0 none;
          height: 28px;

          &[data-change-product-view="grid"]{
            background: url("../images/catalog-grid.png");
            width: 28px;
            &.active{
              background: url("../images/catalog-grid-active.png");
            }
          }

          &[data-change-product-view="list"]{
            width: 38px;
            background: url("../images/catalog-list.png");
            &.active{
              background: url("../images/catalog-list-active.png");
            }
          }
        }
      }
    }
  }
}