.product_card{
  padding-top: 40px;
  padding-bottom: 100px;

  &_subtitle{
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: $font-size-small;
  }

  &_title{
    font-size: $font-size-medium-less;
  }

  &_slider_wrapper{
    .fotorama__nav__shaft{
      & .fotorama__nav__frame.fotorama__nav__frame--thumb{
        opacity: 0.4;
      }
      & .fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active{
        opacity: 1;
      }
    }
  }

  &_conditions,
  &_amenities,
  &_asside_agents{
    margin-top: 30px;
  }

  &_conditions{
    &_content{
      padding: 20px;
      background: #fafafa;

      &_item{
        margin-bottom: 20px;
        height: 30px;
        display: flex;
        align-items: center;

        &_wrapper{
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &_image{
            width: 25px;
            height: 23px;
            margin-right: 7px;

            img{
              width: 20px;
              height: 20px;
              object-fit: contain;
            }
          }

          &_name{
            font-size: $font-size-normal;

            .price{
              color: #4b9ef1;
              font-size: $font-size-big;
            }
          }
        }
      }
    }
  }

  &_amenities{
    &_content{
      padding: 20px;
      background: #fafafa;

      &_item{
        margin-bottom: 15px;

        &_wrapper{
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &_image{
            width: 17px;
            height: 17px;
            margin-right: 7px;

            img{
              object-fit: contain;
              width: 17px;
              height: 17px;
            }
          }

          &_name{
            font-size: $font-size-normal;
          }
        }
      }
    }
  }

  &_description{
    margin-top: 100px;

    &_title{
      font-size: $font-size-normal;
    }

    &_text{
      font-size: $font-size-normal;
    }
  }

  &_map{
    margin-top: 100px;

    iframe{
      width: 100%;
      height: 320px;
    }
  }

  &_asside_agents{
    &_item{
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      &_image{
        width: 160px;
        height: 150px;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &_name{
        p{
          margin-bottom: 6px;
          margin-top: 10px;
          font-size: $font-size-normal;
          font-weight: bold;
        }
      }

      &_desc{
        p{
          font-size: $font-size-normal;
          text-align: left;
        }
      }

      &_phones{
        display: none;

        ul{
          list-style-type: none;
          padding: 0;
          margin: 0;
          font-size: $font-size-normal;
        }
      }

      &_more{
        span{
          font-size: $font-size-normal;
          color: #4b9ef1;

          &:hover{
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  &_asside_houses{
    margin-top: 65px;

    &_item{
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      &_image{
        width: 160px;
        height: 150px;
        margin-bottom: 10px;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;

          transition: all .8s ease;
        }
      }

      &:hover{
        .product_card_asside_houses_item_image{
          img{
            transform: scale(1.2);
          }
        }
      }

      &_title{
        p{
          margin-bottom: 5px;
          font-size: $font-size-normal;
        }
      }

      &_price{
        font-size: $font-size-normal;

        span{
          color: #4b9ef1;
        }
      }
    }
  }

  &_asside_tags{
    margin-top: 50px;

    &_items{
      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;

        li{
          display: inline-flex;
          flex-wrap: wrap;

          button{
            background: transparent;
            outline: none;
            padding: 5px 15px;
            border: 2px solid #c6c6c6;
            margin-bottom: 5px;
            font-size: $font-size-normal;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
  .product_card{
    &_asside_agents{
      &_item{
        &_image{
          width: 100%;
          height: 200px;
        }
      }
    }

    &_asside_houses{
      &_item{
        &_image{
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .product_card{
    &_asside_houses{
      &_item{
        &_image{
          width: 100%;
          height: 150px;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .product_card{
    &_asside_agents{
      &_item{
        align-items: center;

        &_image{
          img{
            width: 50%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }


    &_asside_houses{
      &_item{
        align-items: center;

        &_image{
          height: 200px;

          img{
            width: 70%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }

    &_asside_tags{
      &_items{
        text-align: center;
      }
    }
  }
}