
$banner_height : 800px;
.banner{
  height: $banner_height;
  position: relative;

  &-backgrounds{
    position: absolute;
    z-index: 0;
    left:0;
    width: 100%;
    height: 100%;
    top:0;
    &__items{
      position: absolute;
      z-index: 0;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      &-item{
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 1;
        transition: 1.2s;
        img{
          width:100%;
        }
        &:not(.active){
          opacity: 0;
        }
      }
    }
    &__bottomgradient{
      width: 100%;
      height: 100%;
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 34%);
    }
  }
  &-content{
    position: relative;
    padding: 120px 0;
    z-index: 1;
    width: 820px;
    height: $banner_height;
    background: rgba(0,0,0,.4);
    &__item{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 10px 0 10px 200px;
      margin:20px 0;
      position: relative;

      >div{

        position: relative;
        z-index: 1;
      }
      &:after{
        content: "";
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        opacity: 0;
        transition: .8s;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5046393557422969) 0%, rgba(0,0,0,0.4962359943977591) 76%, rgba(0,0,0,0) 100%);
      }
      &-counter{
        margin-right:10px;
        span{
          font-size: 12px;
          color:#fff;
        }
      }
      &-text{
        &__head{
          p{
            font-weight: bold;
            color:#fff;
            display: inline-block;
            padding-bottom: 5px;
            position: relative;

            &:before,&:after{
              position: absolute;
              left:0;
              bottom: 0;
              content:"";
            }
            &:after{
              background: rgba(255,255,255,.4);
              height:1px;
              z-index: 0;
              width: calc(100% + 25px);
            }
            &:before{
              background: rgba(255,255,255,1);
              height:2px;
              z-index: 1;
              width: 35%;
            }
          }
        }
        &__description{
          &-big{
            max-height: 0;
            transition: .8s;
            overflow: hidden;
            &__row{
              display: flex;
              align-items: flex-start;
              &-image{
                margin-right:10px;
              }
              &-text{
                p{
                  color:#fff;
                }
              }
            }
          }
          &-small{
            p{
              color:#fff;
              margin-bottom: 0;
            }
          }
        }
      }

      &.active{

        &:after{
          opacity: 1;
        }

        .banner-content__item{
          &-counter{
            margin-right:5px;
            span{
              margin-left:-10px;
              font-size: $font-size-medium;
            }
          }
          &-text{
            &__head{
              p{
                font-size: 24px;
                &:before{
                  height:3px;
                  background: $main_color;
                  width: 60%;
                }
              }
            }
            &__description{
              &-small{
                display: none;
              }
              &-big{
                display: block;
                max-height: 400px;
              }
              button{
                text-transform: uppercase;
                position: relative;
                padding: 15px 70px 15px 30px;
                font-size: 18px;
                &:hover{
                  img{
                    margin-left:25px;
                  }
                }

                img{
                  top:50%;
                  transform: translateY(-50%);
                  position: absolute;
                  width: 29px;
                  transition: .4s;
                  margin-left:10px;
                  display: inline-block;
                  height: 20px;
                }
                /*
                &:after{
                  content:url("../images/button-arrow.png");
                  position: absolute;
                  right: 15px;
                  top:50%;
                  transform: translateY(-50%);
                  display: block;
                }
                */
              }
            }
          }


        }
      }
    }
  }

}
@media (max-width: map-get($grid-breakpoints, xl)) { 
  $banner_height : 550px;
  .banner {
    height: $banner_height;
    &-content{
      height: $banner_height;
      width: 100%;
      padding: 90px 0;
      &__item{
        position: absolute;
        opacity: 0;
        &.active{
          opacity: 1;
        }
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints, lg)) {
  $banner_height : 400px;
  .banner {
    height: $banner_height;

    &:hover{
      .banner-content{
        opacity: 1;
      }
    }
    &-content{
      transition: .4s;
      padding: 40px 0;
      opacity: .5;
      height: $banner_height;
      &__item{
        padding-left: 120px;
        &.active{
          .banner-content__item-text{
            &__head p{
              font-size: $font-size-big;
            }

            &__description {

              &-big__row-text{
                font-size: $font-size-normal;
              }
              button {
                font-size: $font-size-normal;

                img{
                  top:auto;
                  transform: scale(.7);
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints, md)) {
  $banner_height : 300px;
  .banner {
    height: $banner_height;
    &-content {
      height: $banner_height;
      padding-top:20px;

      &__item {
        padding-left: 50px;
        &.active {
          .banner-content__item-text{
            &__head p{
              font-size: $font-size-medium;
            }
            &__description {
              button {
                padding: 10px 50px 10px 20px;
              }
            }

          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  $banner_height : 210px;
  .banner {
    height: $banner_height;
    &-content{
      height: $banner_height;
      &__item-text__description-big__row{
        display: none;
      }
    }
  }
}