.breadcrumbs{
  margin:20px 0;
  background: #fff;
  padding: 15px 0 1px 0;
  .container{
    padding: 0;
  }
  ul{
    padding: 0;
    list-style-type: none;
    li{
      display: inline-block;
      &:last-child{
        color:$main_color;
        &:after{
          display: none;
        }
      }
      &:after{
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        display: block;
        float: right;
        margin:4px 0 0 5px;
        font-size: $font-size-small;
        font-weight: 900;
      }
    }
  }
}