.contacts_block{
  margin-top: 60px;

  &-header_block{
    &__main_header{
      text-align: center;
      margin-bottom: 60px;
    }
  }

  &-content_block{
    background: #f6f6f6;

    .no-padding-right{
      padding-right: 0;
    }

    &__contacts_wrapper{
      &-contact_header{
        width: 70%;
        padding-top: 30px;

        p{
          font-size: $font-size-medium;
          font-weight: bold;
        }
      }

      &-contact_form{
        width: 80%;
        margin-bottom: 40px;

        label{
          font-weight: 500;
          color: #bdc4d8;
        }
        .btn{
          margin-top:15px;
        }
      }

      &-map_block{
        position: absolute;
        width: 50%;
        height: 636px;

        iframe{
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {

  .contacts_block-content_block__contacts_wrapper{
    &-map_block{
      position: relative;
      width: 100%;
      height: 400px;
    }

    &-contact_form{
      width: 100%;
      label{
        font-size: $font-size-small;
      }
    }
  }

}