.section_happy_clients{
  margin-top: 150px;
  margin-bottom: 70px;

  .main_header{
    text-align: center;
    margin-bottom: 30px;
  }

  &_slider_wrapper{
    &_carousel{
      display: flex !important;
      flex-direction: column-reverse;

      &.owl-theme .owl-nav.disabled+.owl-dots{
        margin-top: 0;
        margin-bottom: 25px;
      }

      &.owl-theme .owl-dots .owl-dot.active span,
      .owl-dots .owl-dot:hover span{
        background: #fbb227;
      }

      &.owl-theme .owl-dots .owl-dot span{
        background: #baafaf;
      }

      &_item{
        &_text{
          text-align: center;
          height: 120px;
          overflow: hidden;
        }

        &_info{
          text-align: center;
          margin-top: 20px;

          .name{
            font-weight: bold;
          }
        }
      }
    }
  }

  &_button_wrapper{
    margin-top: 35px;
    text-align: center;

    .button_add{
      border: 2px solid #fbb227;
      padding: 10px 45px;
      display: block;
      width: 250px;
      margin: 0 auto;

      &:hover{
        background: #ffb93d;
      }
    }
  }
}