.home_catalog{
  background: $background_color;
  position: relative;
  z-index: 2;

  .container{
    position: relative;
  }
  &-products{
    padding-top: 120px;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    .owl-carousel .owl-item .home_catalog-products__item-content__info img{
      width: auto;
      display: inline-block;
    }
    &__item{
      padding: 15px 0;
      transition: .8s;
      &-title{

      }
      &-content{
        background: #fff;
        box-shadow: 0 0 10px 0px rgba(0,0,0,.3);
        &:hover{
          .home_catalog-products__item-content__background-thumb{
            &__price{
              background-color: rgba(0,0,0,.7);
            }
            img{
              transform: scale(1.2);
            }

          }

        }
        &__info{
          padding: 15px;
          &-address{
            span{
              font-size: 13px;
            }
            p{

            }
          }
          &-attributes{
            position: relative;
            padding-top: 10px;
            &:before{
              content:"";
              position: absolute;
              display: block;
              top:0;
              height: 1px;
              background: #c8c8c8;
              width: calc(100% - 30px);
              left:15px;
            }
            &__item{
              margin:5px 0;

              img{
                margin-right: 10px;
              }
            }
          }
        }
        &__background{
          &-thumb{
            overflow: hidden;
            position: relative;

            img{
              transition: 1.2s ease;
              width: 100%;
            }
            &__price{
              pointer-events: none;
              transition: 1.2s ease;
              padding: 5px 15px;
              width: 100%;
              position: absolute;
              bottom: 0;
              background-color: rgba(0,0,0,.3);
            }
          }
        }
      }
    }
  }
  &-filter{
    background:#fff;
    position: absolute;
    top:-120px;
    width: calc(100% - 30px);
    padding:25px 35px;
    z-index: 2;
    box-shadow: 0px 0px 20px 9px #00000029;
    input {
      box-shadow: none;
      border: 0;
    }
      &.opened{
      .row.home_catalog-filter__advanced {
        max-height: 280px;
        opacity: 1;
      }

      #advanced_search{
        background: $main_color;
      }
    }

    &__advanced{

      &-slider{
        padding-bottom: 20px;

        b{
          margin:0 25px;
        }
      }
      >div{
        padding-top:25px;
        padding-bottom: 10px;
      }

      label{
        width: 50%;
        float: left;
      }
    }
    .row.home_catalog-filter__advanced{
      width: 100%;
      max-height: 0;
      transition: .8s;
      overflow: hidden;
      opacity: 0;
      border-top:1px solid #e8e8e8;
      padding:0;
    }

    .dd-options{
      min-width: auto;
      background: rgba(0,0,0,.8);
    }

    .dd-selected{
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__countinput{
      input{
        width:50px;
        text-align: center;
      }
      .btn{
        margin:0 5px;
      }
    }

    .gj-datepicker{
      width: auto;
      flex-direction: row-reverse;
      .btn{
        border:0 none;
        &:active{
          border:0 none;
          box-shadow: none;
          background: none;
        }
      }
      .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus{

        border:0 none;
        box-shadow: none;
        background: none;
      }
    }
    >.row{
      &:first-child{
        &:after{
          left:0;
          content:"";
          width:100%;
          position: absolute;
          bottom: 0;
          display: block;
          border-bottom: 1px solid #e8e8e8;
        }
      }
    }
    .row{
      position: relative;
      padding-top:10px;
      padding-bottom:10px;
    }
    &__search{
      position: relative;
      input{
        padding-left: 45px;
      }
      &:before{
        content:url("../images/search-icon.png");
        display: block;
        position: absolute;
        left:30px;
        top:50%;
        transform: translateY(-50%);
      }
    }
    &__buttons{
      #advanced_search{
        span{
          color:#fff;
        }
        &:after{
          font-family: 'Font Awesome 5 Free';
          content: "\f1de";
          display: none;
          font-weight: 900;
        }
      }
      select{
        max-width: 120px;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {

  .home_catalog{
    &-products{
      padding-top: 40px;
      &__item{
        &-content__info-attributes__item{
          span{
            font-size: $font-size-small;
          }
        }
      }
    }
    &-filter{
      top: 20px;
      position: relative;
      width: 100%;
      &__advanced{
        label{
          font-size: $font-size-small;
        }
      }

      &.opened{
        .home_catalog-filter-counters{
          max-height: 80px;
        }
      }

      &-counters{
        transition:  .8s;
        max-height: 0;
        overflow: hidden;
      }
    }
  }
}


@media (max-width: map-get($grid-breakpoints, lg)) {

  .home_catalog{
  }
}
@media (max-width: map-get($grid-breakpoints, md)) {
  .home_catalog-filter{
    &.opened{
      .row.home_catalog-filter__advanced{
         max-height: 430px;
      }
    }

    .dd-selected, input{
      font-size: $small-font-size;
    }

  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .home_catalog{
    .container:nth-child(2){
      padding: 0; //fix for owl width (box-shadow)
    }
    &-products__item{
      padding: 15px;
    }
    &-filter{
      padding: 5px;
      &.opened{
        .row.home_catalog-filter__advanced{
          max-height: 480px;
        }
      }
      > .row:first-child:after{
        width: calc(100% - 30px);
        left:15px;
      }
      .gj-datepicker{
        display: none;
      }
      &__buttons{
        #advanced_search{
          span{
            display: none;
          }
          &:after{
            display: block;
          }
        }
      }

    }
  }
}