.section_latest_posts{
  
  .main_header{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &_wrapper{
    &_post{
      display: block;
      margin-bottom: 30px;
      text-decoration: none;

      &_information{
        padding: 25px 20px;
        background-color: #f6f6f6;
        transition: .8s;

        &_description{
          color: #a5a5a5;
          overflow: hidden;
          display: flex;
          flex-direction: column-reverse;
          align-items: flex-start;

          p{
            color: #a5a5a5;
          }

          &::after{
            content: '';
            display: block;
            width: 80px;
            transition: .8s;
            height: 2px;
            background-color: $main_color;
            margin: 10px 0;
          }
        }

        &_date{
          color: #a5a5a5;
          margin-top: 30px;

          i{
            color: #a5a5a5;
            font-size: $font-size-medium;
            margin-right: 10px;
          }

          span{
            color: #a5a5a5;
          }
        }

        &_address{
          font-weight: bold;
          height: 50px;

          p{
            margin: 0;
          }
        }
      }

      &_image{
        width: 100%;
        overflow: hidden;
        height: 273px;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;

          transition: all .8s ease;
        }
      }

      &:hover{
        .section_latest_posts_wrapper_post_image{
          img{
            transform: scale(1.2);
          }
        }

        .section_latest_posts_wrapper_post_information{
          background-color: $main_color;

          &_description{
            color: white;
            &:after{
              background-color: #fff;
            }
            p{
              color: white;
            }
          }

          &_date{
            color: white;

            i{
              color: white;
            }

            span{
              color: white;
            }
          }

          &_address{
            font-weight: bold;

            p{
              color: white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .section_latest_posts{
    &_wrapper{
      &_post{
        &_image{
          height: 200px;
        }
      }
    }
  }
}