.section_services{
  &_header{
    margin-top: 70px;
    margin-bottom: 70px;

    .main_header{
      text-align: center;
    }
  }

  &_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &_image{
      position: relative;

      img{
        height: 90px;
      }

      &_square{
        position: absolute;
        bottom: -5px;
        left: -7px;
        width: 35px;
        height: 35px;
        background: #fbb227;
        opacity: 0.8;
      }
    }

    &_title{
      margin: 25px 0px 15px 0;
      font-size: $font-size-medium-less;
      font-weight: bold;
      min-height: 45px;
      overflow: hidden;
      text-align: center;

      p{
        margin: 0;
      }
    }

    &_desc{
      text-align: center;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .section_services{
    &_item{
      align-items: center;
      margin-bottom: 60px;

      &_title{
        margin: 25px 0px 20px 0;
        min-height: auto;
      }
    }
  }
}