.section_why_us{
  position: relative;
  margin-top: 100px;

  .main_header{
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &::before{
      content: '';
      width: 30px;
      height: 3px;
      background: #fbb227;
      margin-right: 5px;
      display: block;
    }

    span{
      justify-content: flex-start;
    }
  }

  &_subtitle{
    margin-bottom: 50px;
  }

  &_reason{
    margin-bottom: 40px;

    &_title{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;
      font-weight: bold;

      p{
        margin-bottom: 0;
        margin-left: 15px;
      }
    }
  }

  &_image_left{
    right: 0;
    height: 100%;
    position: absolute;

    &_wrapper{
      display: flex;
      height: 100%;

      img{
        object-fit: contain;
        width: 100%;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
  .section_why_us{
    &_image_left{
      height: auto;
      position: relative;

      &_wrapper{
        height: auto;

        align-items: center;
        justify-content: center;

        img{
          width: auto;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .section_why_us{
    .main_header{
      text-align: center;
      justify-content: center;
    }

    &_subtitle{
      text-align: center;
    }

    &_reason{
      text-align: center;

      &_title{
        justify-content: center;
      }
    }

    &_image_left{
      display: none;
    }
  }
}