.section_world_map{
  margin-top: 90px;

  background: url('../images/world/world-map.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .main_header{
    font-weight: 500;
    font-size: $font-size-extra-big;
    border-bottom: 1px solid #bababa;
    padding-bottom: 12px;
  }

  &_countries_wrapper{
    margin-top: 35px;
    padding-bottom: 30px;

    &_column{
      &_group{
        margin-bottom: 30px;

        .title{
          font-weight: bold;
          margin-bottom: 10px;
        }

        .list{
          list-style-type: none;
          margin: 0;
          padding: 0;

          li{
            margin-bottom: 10px;

            &:last-child{
              margin-bottom: 0;
            }

            a{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .section_world_map{
    background: #fcfcfc;

    .main_header{
      text-align: center;
    }

    &_countries_wrapper{
      &_column{
        text-align: center;
      }
    }
  }
}