$width : 180px;


.dd-select{
  border-radius:2px;
  position:relative;
  cursor:pointer;
}
.dd-desc {
}
.dd-selected{
  overflow:hidden;
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-transform: uppercase;
  b{
    margin-left:5px;
  }
  label{
    margin-bottom: 0;
  }
}
.dd-pointer{
  width:0;
  height:0;
  margin-left: 7px;
}
.dd-pointer-down{
  width: 9px;
  display: block;
  height: 4px;
  background: url('../images/select-arrow.png');
}
.dd-pointer-up{
  width: 9px;
  height: 4px;
  transform: rotate(180deg);
  background: url('../images/select-arrow.png');
}
.dd-options{
  list-style:none;
  display:none;
  min-width: $width;
  top:54px;
  position:absolute;
  z-index:2000;
  margin:0;
  padding:0;
  background: rgba(0, 0, 0, 0.4);
  overflow:auto;
}
.dd-option{
  padding: 5px 15px;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;
  overflow:hidden;
  text-decoration:none;
  cursor:pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;

  label{
    margin-bottom: 0;
  }
}
.dd-options > li:last-child > .dd-option{
  border-bottom:none;
}
.dd-option:hover{
  background:$main_color;
  color:#fff;
}
.dd-selected-description-truncated {
  text-overflow: ellipsis;
  white-space:nowrap;
}
.dd-option-selected {
  background:$main_color;
}
.dd-option-image, .dd-selected-image {
  vertical-align:middle;
  float:left;
  margin-right:5px;
  max-width:64px;
}
.dd-image-right {
  float:right;
  margin-right:15px;
  margin-left:5px;
}
